/*!_colors v3.0.2*/
/*
	 *  SETTINGS
	 */
/*!_fonts v2.0.4*/
/*
	 *  SETTINGS
	 */
/*
	 *  SETTINGS
	 */
@font-face {
  font-family: 'aller';
  src: url('../font/Aller_Bd.eot');
  src: url('../font/Aller_Bd.eot?#iefix') format('embedded-opentype'), url('../font/Aller_Bd.woff2') format('woff2'), url('../font/Aller_Bd.woff') format('woff'), url('../font/Aller_Bd.ttf') format('truetype'), url('../font/Aller_Bd.svg#Aller-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aller';
  src: url('../font/Aller_Lt.eot');
  src: url('../font/Aller_Lt.eot?#iefix') format('embedded-opentype'), url('../font/Aller_Lt.woff2') format('woff2'), url('../font/Aller_Lt.woff') format('woff'), url('../font/Aller_Lt.ttf') format('truetype'), url('../font/Aller_Lt.svg#Aller-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
.body-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.brand-font {
  font-family: "aller";
  font-weight: normal;
}
/*!_grid v3.0.0*/
/*
	 *  SETTINGS
	 */
*,
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.alert:before,
.alert:after {
  content: '';
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.alert:after {
  clear: both;
}
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: 768px) {
  .container,
  .container-fluid {
    padding-right: 36px;
    padding-left: 36px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-fluid {
    padding-right: 48px;
    padding-left: 48px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container-fluid {
  max-width: 1320px;
}
.row {
  margin-left: -6px;
  margin-right: -6px;
}
@media (min-width: 768px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
[class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  [class*="col-"] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*!_text-styling v4.0.5*/
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
/**
	 * 1. Change the default font family in all browsers (opinionated).
	 * 2. Correct the line height in all browsers.
	 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
	 */
/* Document
		 ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
		 ========================================================================== */
/**
	 * Remove the margin in all browsers (opinionated).
	 */
body {
  margin: 0;
}
/**
	 * Add the correct display in IE 9-.
	 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
	 * Correct the font size and margin on `h1` elements within `section` and
	 * `article` contexts in Chrome, Firefox, and Safari.
	 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 * 1. Add the correct display in IE.
	 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
	 * Add the correct margin in IE 8.
	 */
figure {
  margin: 1em 40px;
}
/**
	 * 1. Add the correct box sizing in Firefox.
	 * 2. Show the overflow in Edge and IE.
	 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
		 ========================================================================== */
/**
	 * 1. Remove the gray background on active links in IE 10.
	 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
	 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
	 * Remove the outline on focused links when they are also active or hovered
	 * in all browsers (opinionated).
	 */
a:active,
a:hover {
  outline-width: 0;
}
/**
	 * 1. Remove the bottom border in Firefox 39-.
	 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
	 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
	 */
b,
strong {
  font-weight: inherit;
}
/**
	 * Add the correct font weight in Chrome, Edge, and Safari.
	 */
b,
strong {
  font-weight: bolder;
}
/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
	 * Add the correct font style in Android 4.3-.
	 */
dfn {
  font-style: italic;
}
/**
	 * Add the correct background and color in IE 9-.
	 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
	 * Add the correct font size in all browsers.
	 */
small {
  font-size: 80%;
}
/**
	 * Prevent `sub` and `sup` elements from affecting the line height in
	 * all browsers.
	 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 */
audio,
video {
  display: inline-block;
}
/**
	 * Add the correct display in iOS 4-7.
	 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
	 * Remove the border on images inside links in IE 10-.
	 */
img {
  border-style: none;
}
/**
	 * Hide the overflow in IE.
	 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
		 ========================================================================== */
/**
	 * 1. Change the font styles in all browsers (opinionated).
	 * 2. Remove the margin in Firefox and Safari.
	 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
	 * Show the overflow in IE.
	 * 1. Show the overflow in Edge.
	 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
	 * Remove the inheritance of text transform in Edge, Firefox, and IE.
	 * 1. Remove the inheritance of text transform in Firefox.
	 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
	 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
	 *    controls in Android 4.
	 * 2. Correct the inability to style clickable types in iOS and Safari.
	 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
	 * Remove the inner border and padding in Firefox.
	 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
	 * Restore the focus styles unset by the previous rule.
	 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
	 * Change the border, margin, and padding in all browsers (opinionated).
	 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
	 * 1. Correct the text wrapping in Edge and IE.
	 * 2. Correct the color inheritance from `fieldset` elements in IE.
	 * 3. Remove the padding so developers are not caught out when they zero out
	 *    `fieldset` elements in all browsers.
	 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
	 * 1. Add the correct display in IE 9-.
	 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
	 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
	 * Remove the default vertical scrollbar in IE.
	 */
textarea {
  overflow: auto;
}
/**
	 * 1. Add the correct box sizing in IE 10-.
	 * 2. Remove the padding in IE 10-.
	 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
	 * Correct the cursor style of increment and decrement buttons in Chrome.
	 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
	 * 1. Correct the odd appearance in Chrome and Safari.
	 * 2. Correct the outline style in Safari.
	 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
	 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
	 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
	 * 1. Correct the inability to style clickable types in iOS and Safari.
	 * 2. Change font properties to `inherit` in Safari.
	 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
		 ========================================================================== */
/*
	 * Add the correct display in IE 9-.
	 * 1. Add the correct display in Edge, IE, and Firefox.
	 */
details,
menu {
  display: block;
}
/*
	 * Add the correct display in all browsers.
	 */
summary {
  display: list-item;
}
/* Scripting
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 */
canvas {
  display: inline-block;
}
/**
	 * Add the correct display in IE.
	 */
template {
  display: none;
}
/* Hidden
		 ========================================================================== */
/**
	 * Add the correct display in IE 10-.
	 */
[hidden] {
  display: none;
}
/*
	 *  SETTINGS
	 */
body {
  font-size: 0.875em;
  line-height: 1.42857143;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-feature-settings: "liga" 1;
          font-feature-settings: "liga" 1;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #333;
  text-decoration: none;
}
address {
  font-style: normal;
}
blockquote {
  font-size: 16px;
  font-weight: 300;
}
button,
input,
optgroup,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
mark {
  background-color: #f7d1d5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #002f6c;
}
p {
  margin: 0.85714286em 0;
}
dl dt {
  font-weight: 700;
}
dl dd {
  margin: 0;
}
:focus {
  outline: none;
}
::-moz-selection {
  background-color: #f7d1d5;
}
::selection {
  background-color: #f7d1d5;
}
a {
  color: #d81b2b;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.is-keyboarduser a:focus {
  outline: 2px solid #c26f9d;
  outline-offset: 3px;
}
label {
  display: inline-block;
  margin-bottom: 6px;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: #fff !important;
    box-shadow: none !important;
    border-color: #000 !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    padding: 6px;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  p a {
    word-wrap: break-word;
  }
  select {
    background: #fff !important;
  }
  .container,
  .container-fluid {
    margin: auto;
    width: auto;
  }
}
/*!alerts v4.0.0 BSA*/
/*
 * alerts mixins
 *
 */
/*
	 *  SETTINGS
	 */
.text + .text {
  margin-top: 6px;
}
.text-icon {
  margin-right: 6px;
}
.text-success {
  color: #008000;
}
.text-success .icons-background {
  fill: #008000;
}
.text-info {
  color: #0074c4;
}
.text-info .icons-background {
  fill: #0074c4;
}
.text-warning {
  color: #c53b00;
}
.text-warning .icons-background {
  fill: #c53b00;
}
.text-danger {
  color: #c40000;
}
.text-danger .icons-background {
  fill: #c40000;
}
.text-system {
  color: #000;
}
.text-system .icons-background {
  fill: #000;
}
.alert {
  position: relative;
  z-index: 1;
  margin-bottom: 21px;
  padding: 18px;
  border-top: 1px solid #d3d4d5;
  border-bottom: 1px solid #d3d4d5;
  opacity: 1;
}
@media (min-width: 768px) {
  .alert {
    display: -ms-flexbox;
    display: flex;
  }
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 6px;
}
.js .alert {
  transition: all 0.15s ease;
}
.alert.is-closed {
  max-height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  border: 0 none;
}
.alert-success {
  border-color: #80c080;
  background-color: #f2f9f2;
}
.alert-success,
.alert-success .alert-body,
.alert-success h1,
.alert-success h2,
.alert-success h3,
.alert-success h4,
.alert-success h5,
.alert-success h6,
.alert-success .lists,
.alert-success .lists a,
.alert-success .lists.lists-linklist > li a {
  color: #008000;
}
.alert-success ul.lists:not(.lists-linklist) > li::after {
  border-color: #008000;
  background-color: #008000;
}
.alert-success .alert-icon .icons-background,
.alert-success .alert-close .icons-background {
  fill: #008000;
}
.alert-info {
  border-color: #80bae2;
  background-color: #f2f8fc;
}
.alert-info,
.alert-info .alert-body,
.alert-info h1,
.alert-info h2,
.alert-info h3,
.alert-info h4,
.alert-info h5,
.alert-info h6,
.alert-info .lists,
.alert-info .lists a,
.alert-info .lists.lists-linklist > li a {
  color: #0074c4;
}
.alert-info ul.lists:not(.lists-linklist) > li::after {
  border-color: #0074c4;
  background-color: #0074c4;
}
.alert-info .alert-icon .icons-background,
.alert-info .alert-close .icons-background {
  fill: #0074c4;
}
.alert-warning {
  border-color: #e29d80;
  background-color: #fcf5f2;
}
.alert-warning,
.alert-warning .alert-body,
.alert-warning h1,
.alert-warning h2,
.alert-warning h3,
.alert-warning h4,
.alert-warning h5,
.alert-warning h6,
.alert-warning .lists,
.alert-warning .lists a,
.alert-warning .lists.lists-linklist > li a {
  color: #c53b00;
}
.alert-warning ul.lists:not(.lists-linklist) > li::after {
  border-color: #c53b00;
  background-color: #c53b00;
}
.alert-warning .alert-icon .icons-background,
.alert-warning .alert-close .icons-background {
  fill: #c53b00;
}
.alert-danger {
  border-color: #e28080;
  background-color: #fcf2f2;
}
.alert-danger,
.alert-danger .alert-body,
.alert-danger h1,
.alert-danger h2,
.alert-danger h3,
.alert-danger h4,
.alert-danger h5,
.alert-danger h6,
.alert-danger .lists,
.alert-danger .lists a,
.alert-danger .lists.lists-linklist > li a {
  color: #c40000;
}
.alert-danger ul.lists:not(.lists-linklist) > li::after {
  border-color: #c40000;
  background-color: #c40000;
}
.alert-danger .alert-icon .icons-background,
.alert-danger .alert-close .icons-background {
  fill: #c40000;
}
.alert-system {
  border-color: yellow;
  background-color: yellow;
}
.alert-system,
.alert-system .alert-body,
.alert-system h1,
.alert-system h2,
.alert-system h3,
.alert-system h4,
.alert-system h5,
.alert-system h6,
.alert-system .lists,
.alert-system .lists a,
.alert-system .lists.lists-linklist > li a {
  color: #000;
}
.alert-system ul.lists:not(.lists-linklist) > li::after {
  border-color: #000;
  background-color: #000;
}
.alert-system .alert-icon .icons-background,
.alert-system .alert-close .icons-background {
  fill: #000;
}
.alert-close {
  position: absolute;
  z-index: 0;
  top: 3px;
  right: 0;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.no-js .alert-close {
  display: none;
}
.is-keyboarduser .alert-close:focus {
  outline: 2px solid #c26f9d;
  outline-offset: 3px;
}
.alert-close:hover {
  outline: none;
  opacity: 0.5;
}
.alert-icon {
  float: left;
  margin-right: 6px;
  -ms-flex: none;
      flex: none;
}
@media (min-width: 768px) {
  .alert-icon {
    float: none;
    margin-right: 12px;
  }
}
.alert-icon.icon-xsmall + .alert-body,
.alert-icon.icon-small + .alert-body {
  top: auto;
}
.alert-icon + .alert-body,
.alert-icon.icon-large + .alert-body,
.alert-icon.icon-xlarge + .alert-body {
  top: 2px;
}
@media (min-width: 768px) {
  .alert-icon.icon-xsmall-sm + .alert-body,
  .alert-icon.icon-small-sm + .alert-body {
    top: auto;
  }
  .alert-icon.icon-medium-sm + .alert-body,
  .alert-icon.icon-large-sm + .alert-body,
  .alert-icon.icon-xlarge-sm + .alert-body {
    top: 2px;
  }
}
@media (min-width: 992px) {
  .alert-icon.icon-xsmall-md + .alert-body,
  .alert-icon.icon-small-md + .alert-body {
    top: auto;
  }
  .alert-icon.icon-medium-md + .alert-body,
  .alert-icon.icon-large-md + .alert-body,
  .alert-icon.icon-xlarge-md + .alert-body {
    top: 2px;
  }
}
@media (min-width: 1200px) {
  .alert-icon.icon-xsmall-lg + .alert-body,
  .alert-icon.icon-small-lg + .alert-body {
    top: auto;
  }
  .alert-icon.icon-medium-lg + .alert-body,
  .alert-icon.icon-large-lg + .alert-body,
  .alert-icon.icon-xlarge-lg + .alert-body {
    top: 2px;
  }
}
.alert-body {
  position: relative;
}
.alert-heading {
  margin-top: 0;
}
@media print {
  .text-success,
  .text-info,
  .text-warning,
  .text-danger {
    color: #000;
  }
  .alert-success,
  .alert-info,
  .alert-warning,
  .alert-danger,
  .alert-system {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  .alert-close {
    display: none;
  }
}
